/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    #news td, #news th {
        border-bottom: 1px solid transparent;
        padding: 20px;
    }

    #news tr #n-title{
        display: table;
        width: 100%;
        font-size: large;
    }

    #news tr #n-date{
        display: table;
        width: 100%;
        border: 0px solid transparent;
        text-align: right;
        font-size: smaller;
    }

    #news tr #n-excerpt{
        display: table;
        width: 100%;
    }

    #news tr #n-read-more{
        display: table;
        width: 100%;
        margin-top: 15px;
        border-bottom: 2px solid gray;
        margin-bottom: 20px;
    }
      
    #contact{
        padding-bottom: 50px;
        padding-top: 30px;
    }
    
    #contact .maps {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #contact .maps iframe{
        width: 100%;
        height: 450px;
    }

    #contact .maps .maprouter .gmap_canvas{
        width: auto;
        height: auto;
        margin-bottom: 0px;
    }

    #contact .contact-title{
        text-align: center;
    }

    #contact .contact-title .contact-addr{
        font-size: 18px;
    }

    #contact .form {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    #contact .form-title {
        font-size: 40px;
        text-align: center;
        margin-top: 30px;
    }

    #contact .form-group{
        align-items: center;
    }

    #contact .form-group button {
        background-color: #00AEEF;
        color: white;
        font-size: 20px;
        margin-top: 30px;
        border-radius: 100px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    #contact .form-group button:hover {
        color: rgba(255,255,255, 0.6);
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #news td, #news th {
        border-bottom: 1px solid transparent;
        padding: 20px;
    }

    #news tr #n-title{
        display: table;
        width: 100%;
        font-size: large;
    }

    #news tr #n-date{
        display: table;
        width: 100%;
        border-top: 0px solid transparent;
        text-align: right;
        font-size: smaller;
    }

    #news tr #n-excerpt{
        display: table;
        width: 100%;
    }

    #news tr #n-read-more{
        display: table;
        width: 100%;
        margin-top: 15px;
        border-bottom: 2px solid gray;
        margin-bottom: 20px;
    }

    #contact{
        padding-bottom: 50px;
        padding-top: 30px;
    }

    #contact .contact-title{
        text-align: center;
    }

    #contact .contact-title .contact-addr{
        font-size: 18px;
    }

    #contact .maps .maprouter .gmap_canvas{
        width: auto;
        height: auto;
        margin-bottom: 0px;
    }

    #contact .form {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    #contact .form-title {
        font-size: 40px;
    }

    #contact .form-group button {
        background-color: #00AEEF;
        color: white;
        font-size: 20px;
        margin-top: 30px;
        border-radius: 100px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #news td, #news th {
        border-bottom: 1px solid transparent;
        padding: 20px;
    }

    #news tr #n-title{
        display: table;
        width: 100%;
        font-size: large;
    }

    #news tr #n-date{
        display: table;
        width: 100%;
        border-top: 0px solid transparent;
        text-align: right;
        font-size: smaller;
    }

    #news tr #n-excerpt{
        display: table;
        width: 100%;
    }

    #news tr #n-read-more{
        display: table;
        width: 100%;
        margin-top: 15px;
        border-bottom: 2px solid gray;
        margin-bottom: 20px;
    }

    #contact{
        padding-bottom: 50px;
        padding-top: 30px;
    }

    #contact .maps iframe{
        width: 100%;
        height: 700px;
      }

    #contact .maps .maprouter .gmap_canvas{
        width: auto;
        height: 700px;
        margin-bottom: 0px;
    }

    #contact .contact-title{
        text-align: center;
    }

    #contact .form {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    #contact .form {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    #contact .form-title {
        font-size: 40px;
        text-align: center;
        margin-top: 30px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

    /* start of contact section */

    #contact{
        padding-bottom: 50px;
        padding-top: 30px;
    }

    #contact .maps .maprouter .gmap_canvas{
        width: auto;
        height: 500px;
        margin-bottom: 0px;
    }

    #contact .form {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    #contact .form-title {
        font-size: 40px;
        text-align: center;
        margin-top: 30px;
    }

    /* end of contact section */

 }
