@media screen and (min-width: 20px) and (max-width: 426px){
    /* navigation */
    
    .navbar-brand img{
        width: 150px;
    }

    /* main visual */
    .parallax {
        background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/main/rsz_visual_img1.jpg");
        height: 70vh;
        background-attachment:scroll; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    .visual_content1{
        padding-top: 200px;
        text-align: center;
    }

    #home .container {
        display: flex;
        justify-content: center;
    }
    
    .inner {
        color: black;
        overflow: hidden;
        padding: 0.4em;
        margin: auto;
        width: 100%;
    }
    
    .inner > h1 {
        font-size: 3.3em;
        font-weight: bolder;
        text-align: center;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    
    .inner > p {
        font-size: 1.6em;
        text-align: center;
    }
}

@media screen and (min-width: 427px) and (max-width: 767px){

    /* navigation */
    .nav-links::after {
        content: '';
        display: none;
        width: 0;
        height: 2px;
        background: #6c757d;
        transition: width .3s;
    }

    /* main visual */
    .visual_content2 {
        text-align: center;
    }
    .visual_content2 span{
        font-size: 50px;
    }
    .visual_content1{
        padding-top: 300px;
        text-align: center;
    }
    .visual_content3 span{
        font-size: 15px;
    }
    .visual_content4 span{
        font-size: 15px;
    }

    .inner {
        color: black;
        overflow: hidden;
        padding: 0.4em;
        margin: auto;
        width: 100%;
    }

    .inner > h1 {
        font-size: 4.3em;
        font-weight: bolder;
        text-align: justify;
        text-align-last: center;
        word-wrap: break-word;
    }

    .inner > p {
        font-size: 2.2em;
    }
    /* .parallax{
        height: 60vh;
    } */
}


@media screen and (min-width: 768px) and (max-width: 1024px){
    /* navigation */
    .navbar-nav {
        margin-left: 3rem;
    }

     /* main visual */
    .visual_content2 {
        text-align: center;
    }
    .visual_content1{
        padding-top: 300px;
        text-align: center;
    }
    .parallax{
        height: 60vh;
    }

    .inner {
        color: black;
        overflow: hidden;
        padding: 0.4em;
        margin: auto;
        width: 100%;
    }

    .inner > h1 {
        font-size: 4.3em;
        font-weight: bolder;
        text-align: justify;
        word-wrap: break-word;
    }

    .inner > p {
        font-size: 2.2em;
    }
}

@media screen and (min-width: 1025px) and (max-width: 2560px){
}

