@media screen and (min-width: 20px) and (max-width: 426px){
    /* navigation */
    
    .navbar-brand img{
        width: 150px;
    }

    /* main visual */
    .parallax{
        height: 100vh;
    } 

    .visual_content1{
        padding-top: 200px;
        text-align: center;
    }

    #home .container {
        display: flex;
        justify-content: center;
    }
    
    .inner {
        color: black;
        overflow: hidden;
        padding: 0.4em;
    }
    
    .inner > h1 {
        font-size: 2.5em;
        font-weight: bolder;
    }
    
    .inner > p {
        font-size: 2em;
    }
}

@media screen and (min-width: 427px) and (max-width: 767px){

    /* navigation */
    .nav-links::after {
        content: '';
        display: none;
        width: 0;
        height: 2px;
        background: #6c757d;
        transition: width .3s;
    }

    /* main visual */
    .visual_content2 {
        text-align: center;
    }
    .visual_content2 span{
        font-size: 50px;
    }
    .visual_content1{
        padding-top: 300px;
        text-align: center;
    }
    .visual_content3 span{
        font-size: 15px;
    }
    .visual_content4 span{
        font-size: 15px;
    }
    /* .parallax{
        height: 60vh;
    } */
}


@media screen and (min-width: 768px) and (max-width: 1024px){
    /* navigation */
    .navbar-nav {
        margin-left: 3rem;
    }

     /* main visual */
    .visual_content2 {
        text-align: center;
    }
    .visual_content1{
        padding-top: 300px;
        text-align: center;
    }
    .parallax{
        height: 60vh;
    }
}

@media screen and (min-width: 1025px) and (max-width: 2560px){
}

