*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.scrolled{
    transition: 0.5s;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.3);
}

.nav-links {
    display:block;
    padding:.5rem 1rem;
    color: #707070;
    font-size: 21px;
    margin: 2px;
}
.nav-links:focus,.nav-links:hover{
    color: #00AEEF;
    text-decoration: none;
}   
.nav-links.disabled{
    color:#6c757d;
}

.nav-links::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #00AEEF;
    transition: width .3s;
}

.nav-links:hover::after {
    width: 100%;
}
.navbar-brands {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 3rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.top-bg {
    background-color: #f8f9fa;
    box-shadow: 4px 2px 3px grey;
}

.visual_content1 {
    padding-top: 300px;
}

.parallax {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/main/rsz_visual_img1.jpg);
    height: 150vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home .container {
    display: flex;
    justify-content: left;
}

.inner {
    color: black;
    overflow: hidden;
    padding: 0.4em;
}

.inner > h1 {
    font-size: 3.5em;
    font-weight: bolder;
}

.inner > p {
    font-size: 3em;
}

#news {
    margin: 0;
    overflow-x: hidden;
    padding: 120px 0;
}

#news td, #news th {
    border-bottom: 2px solid gray;
    padding: 10px;
}

#news tr #n-date{
    border-right: 2px dotted gray;
}


#news tr:hover {
    background-color: #E5F7FE;
    cursor: pointer;
}

#news-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}


#news tr #n-title{
    color: #00AEEF;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    width: 250px;
}

#news tr #n-date {
    text-align: center;
    padding-right: 16px;
}

#news tr #n-excerpt {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#news tr #n-read-more {
    width: 110px;
    text-align: right;
}

#news tr a{
    color: #EC008C;
    text-transform: uppercase;
    font-size: 14px;
}

#news .news-title{
    color: black;
    font-size: 50px;
    font-weight: bolder; 
    text-align: center;
}

.news-title.fade-in {
    animation: Slide_Up 4s ease;
}

.vision{
    padding: 120px 0px;
}
.vision_heading{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 0px;
}
.vision_column3 img{
    width: 50px;
}

.vision_card{
    padding: 20px 0px;

}

.about{
    padding: 50px 0px;
}

.about_heading{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
}
.about_card{
    padding: 20px 0px;
    text-align: right;
    margin-top: 20px;
    line-height: 35px;
}

.works{
    padding: 120px 0px;
}
.works_heading{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 0px;
}
.works_column3 img{
    width: 50px;
}
.works_card{
    padding: 20px 0px;
}

#works {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: stretch;
 
    background-color: yellow;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-image: url("../images/grid/7-01.png");
    background-repeat: no-repeat;
    background-size: 1920px auto;
    width: 100%;
    height: auto;
}

#works img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    object-fit: cover;

}

#works h2 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: #00AEEF;
}

#works p {
    margin-top: 20px;
}

#works .col-md {
    margin: 20px;
    text-align: center;
    padding: 20px;
}

#contact {
    margin: 0;
    overflow-x: hidden;
    padding-top: 100px;
    padding-bottom: 30px;
}

#contact.show {
    background-color: black;
}

#contact .form-control{
    border-radius: 10;
    border:1px solid #cecece;
}

#contact .row{
    margin-bottom: 0px;
}

#contact .col-maps {
    padding: 30px 30px 30px 0px;
}

#contact .contact-addr {
    color: #000000;
    font-size: 22px;
}

#contact .form-group button {
    background-color: #00AEEF;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact .form-group button:hover {
    background-color: #0075a1;
    color: white;
    
}

#contact .form-group{
    align-content: center;
}

#contact .form-title {
    color: black;
    font-size: 50px;
    font-weight: bolder;
}

footer {
    background-color: #00AEEF;
    padding: 10px;
    text-align: center;
}

footer .footer-copyright {
    color: #ffffff; /* Fallback for older browsers */
    color: rgba(255,255,255, 0.6);
}

footer h6 a{
    color: #ffffff;
}

footer h6 a:hover{
    color: #ffffff; /* Fallback for older browsers */
    color: rgba(255,255,255, 0.6);
    text-decoration: none;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .navbar-brand img{
        width: 150px;
    }

    .parallax {
        background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/main/rsz_visual_img1.jpg");
        height: 100vh;
        background-attachment: scroll; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -o-background-size:cover; 
        -moz-background-size:cover; 
        -webkit-background-size:cover; 
    }

    #home .container {
        display: flex;
        justify-content: center;
    }
    
    .inner {
        color: black;
        overflow: hidden;
        padding: 0.4em;
        margin: auto;
        width: 100%;
    }
    
    .inner > h1 {
        font-size: 2.7em;
        font-weight: bolder;
        text-align: center;
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 350px;
        padding-left: 28px;
    }
    
    .inner > p {
        font-size: 1.4em;
        text-align: center;
    }

    .visual_content1{
        padding-top: 200px;
        text-align: center;
    }

    #news td, #news th {
        border-bottom: 1px solid transparent;
        padding: 20px;
    }

    #news tr #n-title{
        display: table;
        width: 100%;
        font-size: large;
    }

    #news tr #n-date{
        display: table;
        width: 100%;
        border: 0px solid transparent;
        text-align: right;
        font-size: smaller;
    }

    #news tr #n-excerpt{
        display: table;
        width: 100%;
        margin-top: 10px;
    }

    #news tr #n-read-more{
        display: table;
        width: 100%;
        margin-top: 15px;
        border-bottom: 2px solid gray;
        margin-bottom: 20px;
    }

    .vision_column3{
        display: none;
    }
    .vision_heading{
        font-size: 35px;
        font-weight: bold;
        text-align: center;
    }
    .vision_card p{
        text-align: justify;
    }
    .vision_img1{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .vision{
        padding: 20px 0px;
    }

    .about{
        padding: 20px 0px;
    }
    .about_heading{
        font-size: 35px;
        font-weight: bold;
        text-align: center;
    }
    .about_card{
        padding: 20px 0px;
        text-align: center;
    }
    .about_column2{
        display: none;
    }

    .works_column3{
        display: none;
    }
    .works_heading{
        font-size: 35px;
        font-weight: bold;
        text-align: center;
    }
    .works_card p{
        text-align: center;
    }
    .works_img1{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .works{
        padding: 20px 0px;
    }

    .grid{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        background-color: orange;
        background-repeat: no-repeat; 
        background-size: cover; 
        background-image: url("../images/works/7-01.png");
        background-repeat: no-repeat;
        background-size: 1920px auto;
        width: auto;
        height: auto;
        padding: 50px;
    }
      
    #contact{
        padding-bottom: 50px;
        padding-top: 30px;
    }
    
    #contact {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-bottom: 20px;
    }

    #contact iframe{
        width: 100%;
        height: 450px;
    }

    #contact .maprouter .gmap_canvas{
        width: auto;
        height: auto;
        margin-bottom: 0px;
    }

    #contact .contact-title{
        text-align: center;
    }

    #contact .contact-title .contact-addr{
        font-size: 18px;
    }

    #contact .form {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    #contact .form-title {
        font-size: 40px;
        text-align: center;
        margin-top: 30px;
    }

    #contact .form-group{
        align-items: center;
    }

    #contact .form-group button {
        background-color: #00AEEF;
        color: white;
        font-size: 20px;
        margin-top: 30px;
        border-radius: 100px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    #contact .form-group button:hover {
        color: rgba(255,255,255, 0.6);
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    .parallax {
        background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/main/rsz_visual_img1.jpg");
        height: 150vh;
        background-attachment: scroll; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -o-background-size:cover; 
        -moz-background-size:cover; 
        -webkit-background-size:cover; 
    }

    /* vision */
    .vision_img1{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .vision_heading{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }
    .vision_column3{
        display: none;
    }

    .about_column2{
        display: none;
    }
    .about_heading{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }
    .about_card p{
        text-align: center;
    }
    .about_img1_column{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .works_img1{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .works_heading{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }
    .works_column3{
        display: none;
    }

    .nav-links::after {
        content: '';
        display: none;
        width: 0;
        height: 2px;
        background: #6c757d;
        transition: width .3s;
    }

    /* main visual */
    .visual_content2 {
        text-align: center;
    }
    .visual_content2 span{
        font-size: 50px;
    }
    .visual_content1{
        padding-top: 200px;
        text-align: center;
    }
    .visual_content3 span{
        font-size: 15px;
    }
    .visual_content4 span{
        font-size: 15px;
    }

    .inner {
        color: black;
        overflow: hidden;
        padding: 0.4em;
        margin: auto;
        width: 100%;
    }

    .inner > h1 {
        font-size: 2.7em;
        font-weight: bolder;
        text-align: justify;
        text-align-last: center;
        word-wrap: break-word;
    }
    .inner > p {
        font-size: 2.2em;
    }

    .grid{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    
       background-color: yellow;
        background-repeat: no-repeat; 
       background-size: cover; 
       background-image: url("../images/works/7-01.png");
       background-repeat: no-repeat;
       background-size: 1920px auto;
       width: auto;
       height: 2000px;
    }

    .cont{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        background-repeat: no-repeat;
        background-size: 600px 550px;
        width: 100%;
        height: 500px;
        border-radius: 50px;
        margin: 50px;
     }

    #news td, #news th {
        border-bottom: 1px solid transparent;
        padding: 20px;
    }

    #news tr #n-title{
        display: table;
        width: 100%;
        font-size: large;
    }

    #news tr #n-date{
        display: table;
        width: 100%;
        border: 0px solid transparent;
        text-align: right;
        font-size: smaller;
    }

    #news tr #n-excerpt{
        display: table;
        width: 100%;
        margin-top: 10px;
    }

    #news tr #n-read-more{
        display: table;
        width: 100%;
        margin-top: 15px;
        border-bottom: 2px solid gray;
        margin-bottom: 20px;
    }

    #contact{
        padding-bottom: 50px;
        padding-top: 30px;
    }

    #contact .contact-title{
        text-align: center;
    }

    #contact .contact-title .contact-addr{
        font-size: 18px;
    }

    #contact .maprouter .gmap_canvas{
        width: auto;
        height: auto;
        margin-bottom: 0px;
    }

    #contact .form {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    #contact .form-title {
        font-size: 40px;
    }

    #contact .form-group button {
        background-color: #00AEEF;
        color: white;
        font-size: 20px;
        margin-top: 30px;
        border-radius: 100px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .vision_column3 img{
        width: 30px;
    }
    .vision_heading{
        font-size: 40px;
        font-weight: bold;
    }
    .vision_card{
        padding: 15px 0px;
    }
    .about_heading{
        font-size: 40px;
        font-weight: bold;
    }
    .about_card{
        padding: 15px 0px;
    }
    .about_column{
        display: none;
    }
    .works_column3 img{
        width: 30px;
    }
    .works_heading{
        font-size: 40px;
        font-weight: bold;
    }
    .works_card{
        padding: 15px 0px;
    }

    .navbar-nav {
        margin-left: 3rem;
    }

    .visual_content2 {
        text-align: center;
    }
    .visual_content1{
        padding-top: 300px;
        text-align: center;
    }
    .parallax{
        height: 150vh;
        background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/main/rsz_visual_img1.jpg);
        background-attachment: scroll; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -o-background-size:cover; 
        -moz-background-size:cover; 
        -webkit-background-size:cover; 
    }

    .inner {
        color: black;
        overflow: hidden;
        padding: 0.4em;
        margin: auto;
        width: 100%;
    }

    .inner > h1 {
        font-size: 4.7em;
        font-weight: bolder;
        text-align: justify;
        word-wrap: break-word;
        max-width: 552px;
        margin-left: 93px;
    }

    .inner > p {
        font-size: 2.2em;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    .grid{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    
       background-color: yellow;
        background-repeat: no-repeat; 
       background-size: cover; 
       background-image: url("../images/works/7-01.png");
       background-repeat: no-repeat;
       background-size: 1920px auto;
       width: auto;
       height: 2000px;
    }

    .cont{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        background-repeat: no-repeat;
        background-size: 600px 550px;
        width: 100%;
        height: 500px;
        border-radius: 50px;
        margin: 50px;
     }

    #works img {
        width: 100%;
        height: 150px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        object-fit: cover;
    
    }

    #news td, #news th {
        border-bottom: 1px solid transparent;
        padding: 20px;
    }

    #news tr #n-title{
        display: table;
        width: 100%;
        font-size: large;
    }

    #news tr #n-date{
        display: table;
        width: 100%;
        border: 0px solid transparent;
        text-align: right;
        font-size: smaller;
    }

    #news tr #n-excerpt{
        display: table;
        width: 100%;
    }

    #news tr #n-read-more{
        display: table;
        width: 100%;
        margin-top: 15px;
        border-bottom: 2px solid gray;
        margin-bottom: 20px;
    }

    #contact{
        padding-bottom: 50px;
        padding-top: 30px;
    }

    #contact iframe{
        width: 100%;
        height: 700px;
      }

    #contact .maprouter .gmap_canvas{
        width: auto;
        height: 700px;
        margin-bottom: 0px;
    }

    #contact .contact-title{
        text-align: center;
    }

    #contact .form {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    #contact .form {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    #contact .form-title {
        font-size: 40px;
        text-align: center;
        margin-top: 30px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

    .grid{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    
       background-color: yellow;
        background-repeat: no-repeat; 
       background-size: cover; 
       background-image: url("../images/works/7-01.png");
       background-repeat: no-repeat;
       background-size: 1920px auto;
       width: auto;
       height: 2000px;
    }

    .cont{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        background-repeat: no-repeat;
        background-size: 600px 550px;
        width: 100%;
        height: 500px;
        border-radius: 50px;
        margin: 50px;
     }

    #contact{
        padding-bottom: 50px;
        padding-top: 30px;
    }

    #contact .maprouter .gmap_canvas{
        width: auto;
        height: 500px;
        margin-bottom: 0px;
    }

    #contact .form {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    #contact .form-title {
        font-size: 40px;
        text-align: center;
        margin-top: 30px;
    }

 }

 @media screen and (min-width: 1025px) and (max-width: 2560px){
    .about_column{
        display: none;
    }
}


